<article>
  <div class="site-main-photo"> </div>
  <div class="site-info">
    <p class="site-title">DINOSAUR'S AUCTION</p>
    <p class="site-brief-description">
      Lorem ipsum dolor sit amet consectetur adipisicing elit.
    </p>
    <a routerLink="/catalog" class="site-get-started-btn">
      Get Started
    </a>
  </div>
</article>
<article class="site-introduction">
  <div class="intro-div-container">
    <div class="intro-div">
      <img class="get-started-icon" src="assets/images/home/get-started-icon.png" />
      <p class="intro-title">Get started!</p>
      <p class="intro-description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis
        odio quasi quod sequi veniam aut animi. Quaerat ea autem nam
        labore ab nulla. At, nemo vero nesciunt delectus exercitationem
        debitis?
      </p>
    </div>
    <div class="intro-div">
      <img class="how-it-works-icon" src="assets/images/home/how-it-works-icon.png" />
      <p class="intro-title">How it works?</p>
      <p class="intro-description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis
        odio quasi quod sequi veniam aut animi. Quaerat ea autem nam
        labore ab nulla. At, nemo vero nesciunt delectus exercitationem
        debitis?
      </p>
    </div>
    <div class="intro-div">
      <img class="what-is-it-icon" src="assets/images/home/what-is-it-icon.png" />
      <p class="intro-title">What is it?</p>
      <p class="intro-description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis
        odio quasi quod sequi veniam aut animi. Quaerat ea autem nam
        labore ab nulla. At, nemo vero nesciunt delectus exercitationem
        debitis?
      </p>
    </div>
  </div>
</article>
<article class="why-trust-us-container">
  <p class="why-trust-us-title">Why trust us?</p>
  <div class="why-trust-us-text-container">
    <p class="why-trust-us-text">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Non totam
      ipsam reprehenderit sunt excepturi inventore voluptatum? Rerum,
      aliquam odit dolores nihil ad incidunt, non, vitae adipisci fuga
      explicabo est repudiandae.
    </p>
    <img class="handshake-image" src="assets/images/home/handshake.webp" />
  </div>
</article>
<hr class="divider" />