<article class="sign-container-center">
  <div class="sign-container login-container">
    <p class="sign-title">LOGIN</p>
    <form #form="ngForm" class="sign-form">
      <div class="sign-field-input-container">
        <input class="sign-in-field-input" placeholder="Email" type="email" name="email" #emailInput="ngModel" ngModel
          required appEmailValidator />

        <ng-container *ngIf="form.getControl(emailInput)?.touched">
          <p class="sign-error" *ngIf="form.getControl(emailInput)?.getError('required')">Email is required!</p>
          <p class="sign-error" *ngIf="form.getControl(emailInput)?.getError('appEmailValidator')">Email must be a valid
            email!</p>
        </ng-container>
      </div>
      <div class="sign-field-input-container">
        <input class="sign-in-field-input" placeholder="Password" type="password" name="password"
          #passwordInput="ngModel" ngModel required minlength="5" />
        <ng-container *ngIf="form.getControl(passwordInput)?.touched">
          <p class="sign-error" *ngIf="form.getControl(passwordInput)?.getError('required')">Password is required!</p>
          <p class="sign-error" *ngIf="form.getControl(passwordInput)?.getError('minlength')">Password must be at least
            5
            characters!</p>
        </ng-container>
      </div>
      <button class="sign-btn" (click)="onSubmit()" [disabled]="form.invalid"
        [ngStyle]="{cursor: form.invalid ? 'not-allowed' : ''}">
        Login
      </button>
    </form>
    <p class="sign-already-a-user">
      Need an account? <a routerLink="/signup">SIGN UP</a>
    </p>
  </div>
</article>